@page "/inventarios"
@inherits InventarioBase
@using AppV7.Shared

@if (Datos)
{
    <RadzenCard>
        <RadzenTemplateForm @ref=FiltroTemp Data="@ElFiltro"
                        TItem="@Filtro" Submit="@Filtrar">
            <div class="form-grup row">
                <div class="col-sm-3">
                    <div class="form-grup row">
                        <label>Folio</label>
                        
                    </div>
                    <div class="form-grup row">
                        <RadzenTextBox Name="FolioF" @bind-Value=@ElFiltro.FolioF Style="width: 95%;" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-grup row">
                        <label>Estado del folio</label>
                    </div>
                    <div class="form-grup row">
                        <RadzenDropDown Name="EstadoF" Data=@LosEdos @bind-Value=@ElFiltro.EstadoF
                                ValueProperty="Key" TextProperty="Value" 
                                AllowClear="true" Style="width: 95%;" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-grup row">
                        <label>Almacen</label>            
                    </div>
                    <div class="form-grup row">
                        <RadzenDropDown Name="AlmacenF" Data=@LosAlmacenes @bind-Value=@ElFiltro.AlmacenF
                                    ValueProperty="AlmacenId" TextProperty="Corto"
                                    AllowClear="true" Style="width: 95%;" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-grup row">
                        <label>Tipo</label>
                    </div>
                    <div class="form-grup row">
                        <RadzenDropDown Name="TipoEntradaF" Data=@LosTipos @bind-Value=@ElFiltro.TipoEntradaF
                                    ValueProperty="Value" TextProperty="Value"
                                    AllowClear="true" Style="width: 95%;" />
                    </div>
                </div>
            </div>

            <div class="form-grup row">
                <div class="col-sm-3">
                    <div class="form-grup row">
                        <label>Comercio</label>
                    </div>
                    <div class="form-grup row">
                        <RadzenDropDown Name="ComercioF" Data=@LosUsers @bind-Value=@ElFiltro.ComercioF
                                ValueProperty="UsuariosId" TextProperty="OldEmail" 
                                AllowClear="true" Style="width: 95%;" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-grup row">         
                        <label>Producto</label>           
                    </div>
                    <div class="form-grup row">
                        <RadzenDropDown Name="ProductoF" Data=@LosProductos @bind-Value=@ElFiltro.ProductoF
                                ValueProperty="ProductoId" TextProperty="Corto" AllowClear="true" 
                                Style="width: 95%;" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-grup row">  
                        <label>Ciudad</label>  
                    </div>
                    <div class="form-grup row">
                        <RadzenDropDown Name="CiudadF" Data=@LosMpios @bind-Value=@ElFiltro.CiudadF
                                ValueProperty="Value" TextProperty="Value" AllowClear="true" 
                                Style="width: 95%;" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-grup row">        
                        <label>Cantidad</label>  
                    </div>
                    <div class="form-grup row">
                        <RadzenNumeric Name="CantidadF" @bind-Value=@ElFiltro.CantidadF
                                   ShowUpDown="false" Style="width: 95%;" />
                    </div>
                </div>
            </div>

            <div class="form-grup row">
                <label for="almacenF" class="col-sm-3 col-form-label"></label>
                <label for="almacenF" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-3">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Filtrar" />
                </div>
            </div>

        </RadzenTemplateForm>
    </RadzenCard>
    @if (ElRepDet != null && ElRepDet.Any())
    {    
        <RadzenCard>
            <RadzenDataGrid @ref="RepDetGrid" Data="@ElRepDet" TItem="ReporteDet" PageSize="50"
                AllowFiltering="true" AllowPaging="true" AllowSorting="true" AllowColumnResize="true"
                AllowGrouping="false" >
                <Columns>
                    <RadzenDataGridColumn Width="40px" TItem="ReporteDet" Title="#" 
                        Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                        <Template>
                            @(ElRepDet.IndexOf(context) + 1)
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="ReporteDet" Title="Almacen" Property="AlmacenRt"
                                    Filterable="true" Width="150px">
                        <Template Context="datos">
                            @datos.AlmacenRt
                        </Template>
                        <FooterTemplate>
                            @if(RepDetGrid.View.Count() > 0) 
                            {
                                <label>Totales: <b>@RepDetGrid.View.Count()</b> de <b>@ElRepDet.Count()</b></label>
                            }
                        
                        </FooterTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="ReporteDet" Title="Comercios" Filterable="true" 
                                    Width="150px">
                        <Template Context="datos">
                            @datos.ComercioRt
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="ReporteDet" Title="Grupo" Filterable="true" 
                                    Width="150px">
                        <Template Context="datos">
                            @datos.TipoEntradaRt    
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="ReporteDet" Title="Producto" Filterable="true" 
                                    Width="150px">
                        <Template Context="datos">
                             @datos.ProductoRt
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="ReporteDet" Title="Entradas" Filterable="true" 
                                      Width="100px" TextAlign="TextAlign.Right" >
                        <Template Context="datos">
                            @if (RepDetGrid.View.Count() > 0)
                            {
                                @if (datos.TipoEntradaRt != "Solicitud")
                                {
                                    <label>
                                        @String.Format("{0,15:N0}", @datos.CantidadRt)
                                    </label>
                                }
                                else
                                {
                                    <label>0</label>
                                }
                            }
                        </Template>
                        <FooterTemplate>
                            @if(RepDetGrid.View.Count() > 0) 
                            {
                                <label>
                                    @String.Format("{0,15:N0}",
                                        ElRepDet.Where(o => o.TipoEntradaRt != "Solicitud").
                                        Sum(o => o.CantidadRt))
                                </label>
                            }
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ReporteDet" Title="Salidas" Filterable="true"
                                      Width="100px" TextAlign="TextAlign.Right">
                        <Template Context="datos">
                            @if (RepDetGrid.View.Count() > 0)
                            {
                                @if (datos.TipoEntradaRt == "Solicitud")
                                {
                                    <label>

                                        @String.Format("{0,15:N0}", @datos.CantidadRt)
                                    </label>
                                }
                                else
                                {
                                    <label>0</label>
                                }
                            }
                        </Template>
                        <FooterTemplate>
                         @if(RepDetGrid.View.Count() > 0) 
                            {   
                            <label>
                                @String.Format("{0,15:N0}", 
                                    ElRepDet.Where(o => o.TipoEntradaRt == "Solicitud").
                                    Sum(o => o.CantidadRt))    
                            </label>
                            }
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenCard>
    }
    else 
    {
        @if(ElFiltro.Filtrado) 
        {
            <label>No se encontraro registros con estos criterios</label>
        }
    }
}
else
    
{
    <div class="spinner"></div>
}



@code {

    bool? groupsExpanded;
    async Task Filtrar()
    {
        ElFiltro.Filtrado = true;
        await LeerRegistros();
    }
    /*
     * @inject NorthwindService service
    public void Export(string type)
    {
        service.Export("InventariosDetails", type, new Query()
            {
                OrderBy = RepDetGrid.Query.OrderBy,
                Filter = RepDetGrid.Query.Filter,
                Select = string.Join(",", RepDetGrid.ColumnsCollection.Where(c =>
                        c.GetVisible()).Select(c => c.Property))
            });
    }
    */
    void OnRender(DataGridRenderEventArgs<ReporteDet> args)
    {
        if (args.FirstRender)
        {
           // args.Grid.Groups.Add(new GroupDescriptor() { Title = "Almacen", Property = "ReporteDet.AlmacenRt", SortOrder = SortOrder.Descending });
           // StateHasChanged();
        }
    }

    void OnGroupRowRender(GroupRowRenderEventArgs args)
    {
        //args.Expanded = groupsExpanded;
    }
    
    /*
      Render="@OnRender" GroupRowRender="OnGroupRowRender"
    <RadzenButton Text="Exportar XLS" Icon="grid_on"
                        Click="@(args => Export("excel"))" Disabled= "@(!Exportar)" />


       public partial class NorthwindService
        {
        private readonly NavigationManager navigationManager;

        public NorthwindService(NavigationManager navigationManager)
            {
            this.navigationManager = navigationManager;
        }

        public void Export(string table, string type, Query query = null)
            {
            navigationManager.NavigateTo(query != null ?
                query.ToUrl($"/export/{table}/{type}") :
                $"/export/{table}/{type}", true);
    }
        }
    */

}
