
@inherits DetSolBase

@inject NotificationService NS
@using AppV7.Shared
@using AppV7.Shared.Libreria

<div class="form-grup row">
    <div class="col-sm-9">
        <div class="nav-item px-3">
            <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px"
                          Text="Nuevo producto" ButtonStyle="ButtonStyle.Secondary"
                          Click="@InsertRow" Disabled="@Editando" />
            <RadzenButton Icon="refresh" style="margin-bottom: 10px" ButtonStyle="ButtonStyle.Info"
                          Click="@LoadData" Disabled="@Editando2"/>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="nav-item px-3">
            
        </div>
    </div>
</div>

@if (LosDets != null && LosDets.Count()>=0)
{
            <RadzenCard>       
                <RadzenDataGrid @ref="DetGrid" Data="@LosDets" TItem="Z232_DetSol" 
            AllowFiltering="true" AllowPaging="true" PageSize="50"
                    AllowSorting="true" AllowColumnResize="true"
                ExpandMode="DataGridExpandMode.Single" AllowGrouping="false"
                EditMode="DataGridEditMode.Single" 
                 RowUpdate="@OnUpdateRow" 
                RowCreate="@OnCreateRow"  >

                <Columns>
                    <RadzenDataGridColumn TItem="Z232_DetSol" Title="Editar" Width="50px"
                        Filterable="false" Sortable="false">
                        <Template Context=datos>
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Secondary" 
                                Class="m-1" Click="@((args) => EditRow(datos))" 
                                Visible="@(!Editando)" >
                            </RadzenButton>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Z232_DetSol" Property="Cantidad" Title="Cantidad" 
                Filterable="true" Sortable="true" Width="75px" TextAlign="TextAlign.Right">
                        <Template Context="datos">
                        <label style="text-align:right"> @datos.Cantidad</label>
                        </Template>
                        <EditTemplate Context="datos">
                        <RadzenNumeric Name="Cantidad" @bind-Value="datos.Cantidad" Min="1"
                            Style="width: 100%" ShowUpDown="false" />
                    </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Z232_DetSol" Property="Producto" Title="Producto"
                                  Filterable="true" Sortable="true" Width="250px">
                        <Template Context="datos">
                            @LosProductos.FirstOrDefault(x=>x.ProductoId == 
                                datos.Producto)!.Nombre
                            @LosProductos.FirstOrDefault(x=>x.ProductoId == 
                                datos.Producto)!.Talla
                            @LosProductos.FirstOrDefault(x=>x.ProductoId == 
                            datos.Producto)!.Corto
                        </Template>
                        <EditTemplate Context="datos">
                            <RadzenDropDown Name="Producto" Data=@LosProductos @bind-Value=@datos.Producto
                                    ValueProperty="ProductoId" TextProperty="Corto" AllowClear="true" 
                                    Style="width: 100%;" />
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Z232_DetSol" Property="Desc" Title="Comentario" 
                            Filterable="true"  Width="200px">
                        <Template Context="datos">
                        @datos.Desc
                        </Template>
                        <EditTemplate Context="datos">
                            
                            <RadzenTextArea Name="Desc" @bind-Value="datos.Desc" 
                                    Style="width: 90%" />
                        
                    </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Z232_DetSol" Context="sampleBlazorModelsSampleOrder" 
                    Filterable="false" Sortable="false" TextAlign="TextAlign.Center" 
                    Width="200px" Title="Estado">
                        <Template Context="datos">
                            
                        @if (datos.Status == true)
                        { 
                            <b>Activo</b>
                        }
                        else
                        {
                            <b>Borrado</b>
                        }

                        </Template>

                        <EditTemplate Context="datos">

                        @if (datos.Estado != 3)
                        {
                            <label>Borrar este registro? </label><br />
                            <label> Si </label>
                            <RadzenSwitch @bind-Value=@datos.Status Name="Status" />
                            <label> No!</label>
                            <br />
                        }
                            <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" 
                                Class="m-1" Click="@((args) => SaveRow(datos))">
                            </RadzenButton>

                            <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" 
                                Click="@((args) => CancelEdit(datos))" />
                            </EditTemplate>

                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
            </RadzenCard>
}
else
{
            <div class="spinner"></div>
}

@code {

    Z232_DetSol DetToInsert = new();

    async Task EditRow(Z232_DetSol dsol)
    {
        await DetGrid!.EditRow(dsol);
        Editando = !Editando;
    }
    async void OnUpdateRow(Z232_DetSol dsol)
    {
        if (dsol == DetToInsert) DetToInsert = null!;

        Editando = !Editando;
        await DetIServ.UpDateDetalle(dsol);

        string texto = $"Se actualizo un registro Folio {dsol.Folio} del detalle {dsol.DetId} ";
        texto += $"Producto {dsol.Producto}, cantidad {dsol.Cantidad}, desc {dsol.Desc}  ";
        await Escribir(ElUsuarioDet.UsuariosId, ElUsuarioDet.OrgId, texto, false);
        ShowNotification(ElMsn("info", "Actualizacion", $"Se actualizo el registro {dsol.Folio}", 0));
    }
    async Task SaveRow(Z232_DetSol dsol)
    {
        await DetGrid!.UpdateRow(dsol);
    }
    void CancelEdit(Z232_DetSol dsol)
    {
        if (dsol == DetToInsert) DetToInsert = null!;
        Editando = !Editando;
        DetGrid!.CancelEditRow(dsol);
    }
    async Task InsertRow()
    {
        DetToInsert = new Z232_DetSol();
        DetToInsert.DetId = Guid.NewGuid().ToString();
        DetToInsert.Folio = ElFolioDet.Folio;
        DetToInsert.Estado = 3;

        Editando = !Editando;

        await DetGrid!.InsertRow(DetToInsert);

    }
    async void OnCreateRow(Z232_DetSol dsol)
    {
        if (dsol == DetToInsert) DetToInsert = null;
        dsol.Estado = 1;
        Editando = !Editando;

        Z232_DetSol resultado = new Z232_DetSol();
        resultado = await DetIServ.AddDetalle(dsol);

        string texto = $"Se creo un registro Folio {resultado.Folio} detalle {resultado.DetId} ";
        texto += $"Producto {resultado.Producto}, cantidad {resultado.Cantidad}, desc {resultado.Desc}";
        await Escribir(ElUsuarioDet.UsuariosId, ElUsuarioDet.OrgId, texto, false);
        ShowNotification(ElMsn("Ok", "Nuevo Folio", $"Se creo el nuevo folio {resultado.Folio}", 0));
    }

    public void ShowNotification(NotificationMessage message)
    {
        NS.Notify(message);
    }

    async Task LoadData()
    {
        LosDets = await DetIServ.Buscar($"Folio_-_Folio_-_{ElFolioDet.Folio}");
        Editando = false;
    }



}
