
@inherits MyInfoEditBase
@using AppV7.Shared


@if (ElUsuario != null)
{
    <RadzenTemplateForm Data="@ElUsuario" TItem="@Z110_Usuarios"  Submit="@YoCambios">
        <div class="form-grup row">
            <label for="habilitar" class="col-sm-3 col-form-label">Hacer cambios!</label>
            <div class="col-sm-9">
                    NO <RadzenSwitch Name = "Habilitar" @bind-Value=@Habilitar /> Si    
            </div>
        </div>
        <div class="form-grup row">
            <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-9">
                <RadzenTextBox Name = "Nombre" @bind-Value=@ElUsuario.Nombre
                    style = "display: block; width: 300px;" Disabled="@(!Habilitar)" />
                <RadzenRequiredValidator Component="Nombre" Text="El nombre es obligatorio " />     
            </div>
        </div>
            <div class="form-grup row">
                <label for="paterno" class="col-sm-3 col-form-label">Paterno</label>
                <div class="col-sm-9">
                    <RadzenTextBox Name = "Paterno" @bind-Value=@ElUsuario.Paterno
                        style = "display: block; width: 300px;" Disabled="@(!Habilitar)" />
                    <RadzenRequiredValidator Component="Paterno" Text="El apellido paterno es obligatorio " />     
                </div>
            </div>
            <div class="form-grup row">
                <label for="materno" class="col-sm-3 col-form-label">Materno</label>
                <div class="col-sm-9">
                    <RadzenTextBox Name = "Materno" @bind-Value=@ElUsuario.Materno
                        style = "display: block; width: 300px;" Disabled="@(!Habilitar)" />
                        
                </div>
            </div>
            
            <div class="form-grup row">
                <label for="org" class="col-sm-3 col-form-label">Organización</label>
                <div class="col-sm-9">
                     @LaOrg     
                </div>
            </div>
            <div class="form-grup row">
                <label for="nivel" class="col-sm-3 col-form-label">Nivel</label>
                <div class="col-sm-9">
                      @ElNiv     
                </div>
            </div>
            
            
            <div class="form-grup row">
                <label for="botones" class="col-sm-8 col-form-label"></label>
                <div class="col-sm-2">
                    <RadzenButton style="margin-bottom: 10px" Text="Cancelar" 
                        ButtonType="ButtonType.Reset" ButtonStyle="ButtonStyle.Danger" 
                        Disabled="@(!Habilitar)"/>
                </div>
                <div class="col-sm-2">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Actualizar" 
                        Disabled="@(!Habilitar)" />
                </div>
            </div>
        </RadzenTemplateForm>
} else {
    <div class="spinner"></div>
}



@code {
    
    async void YoCambios()
    {
        Habilitar = false;
        await ActualizarMisDatos();
    }
    void Cancelar()
    {
        LeerUsuario();   
    }
}