
@inherits ContactanosWebBase
@inject NavigationManager NM
@inject IJSRuntime JSRuntime
@using AppV7.Shared

@if (mostrar)
{
    <div class="form-grup row">  
         
        @if (ContactanosConfig.Directorio)
        {
         <div class="col-sm-6">
                <RadzenCard>
                    <h3>Nuestro Directorio!</h3>
               <label>aqui va el directorio </label>
               </RadzenCard>
            
         </div>
        }
        
        @if (ContactanosConfig.Formato) 
        {
        <div class="col-sm-6">
        <RadzenCard>
            <h3>CONTACTANOS, QUEREMOS SABER!</h3>
            <RadzenTemplateForm Data="@MailUs" TItem="@Z195_MailUs"  Submit="@SendMailUs">
        
        <div class="form-grup row">
            <label for="nombre" class="col-sm-3 col-form-label">Nombre *</label>
            <div class="col-sm-9">
                <RadzenTextBox Name = "Nombre" @bind-Value=@MailUs.Nombre
                    style = "display: block; width: 250px;" />
                <RadzenRequiredValidator Component="Nombre" Text="El nombre es requerido " />     
            </div>
        </div>
            <div class="form-grup row">
                <label for="Email" class="col-sm-3 col-form-label">Tu Email</label>
                <div class="col-sm-9">
                    <RadzenTextBox Name = "Email" @bind-Value=@MailUs.Email
                        style = "display: block; width: 250px;" />
                    <RadzenRequiredValidator Component="Email" Text="El Email es requerido " />
                    <RadzenEmailValidator Component="Email" Text="Se requiere una cuenta valida!! " /> 
                </div>
            </div>
            <div class="form-grup row">
                <label for="Cel" class="col-sm-3 col-form-label">Celular o Telefono</label>
                <div class="col-sm-9">
                    <RadzenTextBox Name = "Cel" @bind-Value=@MailUs.Cel
                        style = "display: block; width: 250px;" />
                         
                </div>
            </div>
            <div class="form-grup row">
                <label for="Desc" class="col-sm-3 col-form-label">Mensaje</label>
                <div class="col-sm-9">
                    <RadzenTextArea Name = "Desc" @bind-Value=@MailUs.Desc
                        style = "display: block; width: 250px;" />
                    <RadzenRequiredValidator Component="Desc" Text="Un Mensaje es requerido " /> 
                         
                </div>
            </div>
            <div class="form-grup row">
                <label for="botones" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-3">
                    <RadzenButton style="margin-bottom: 10px" Text="Cancelar" 
                        ButtonType="ButtonType.Reset" ButtonStyle="ButtonStyle.Danger" />
                </div>
                <div class="col-sm-3">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Actualizar" />
                </div>
                <div class="col-sm-3">
                    <label></label>
                </div>
            </div>
        </RadzenTemplateForm>
        </RadzenCard>
        </div>
        }
       
    </div>

    <div class="form-grup row">  
        <div class="col-sm-12">
        @if(ContactanosConfig.Mapa && !string.IsNullOrEmpty(ContactanosConfig.Latitud) && 
            !string.IsNullOrEmpty(ContactanosConfig.Longitud))
        {
            <br />
            <RadzenCard>
            <RadzenGoogleMap style="height: 400px" 
            Options=@(new Dictionary<string, object> { { "disableDoubleClickZoom", true } })
                    Zoom=@zoom Center=@(new GoogleMapPosition() { Lat = 29.1026, Lng = -110.97732 }) 
                    MapClick=@OnMapClick MarkerClick=@OnMarkerClick>
                <Markers>
                    <RadzenGoogleMapMarker Title=@ContactanosConfig.Titulo 
                        Label=@ContactanosConfig.Titulo Position=@(new GoogleMapPosition() 
                        { Lat = double.Parse(@ContactanosConfig.Latitud!), Lng = double.Parse(@ContactanosConfig.Longitud!) }) />
                    
                </Markers>
            </RadzenGoogleMap>
            </RadzenCard>
        }
        </div>
    </div>
} 
else
{
    <div class="spinner"></div>
}

@code {
    bool mostrar = true;
    int zoom = 13;
    async void SendMailUs()
    {
        await SendMail();
    }

    async void OnMapClick()
    {
        string laurl = "https://www.google.com/maps/place/CANACO+C%C3%A1mara+de+Comercio,+Servicios+y+Turismo+de+Hermosillo/@29.0865585,-110.9549713,19z/data=!3m1!4b1!4m5!3m4!1s0x86ce84358f46bf83:0x8ceb2fe60210b14f!8m2!3d29.0865579!4d-110.9544241";
        await JSRuntime.InvokeAsync<object>("open", laurl, "_blank");
    }
    void OnMarkerClick()
    {
        
    }

}
